<h1>Список статей</h1>

<% @articles.each do |article| %>
	<h2><%= article.title %></h2>
	<p><%= article.text %></p>
	<p><%= link_to "Показать статью", article_path(article) %> |
	   <%= link_to "Редактировать статью", edit_article_path(article) %> |
	   <%= link_to "Удалить статью", article_path(article), method: :delete, data: { confirm: 'Действительно удалить?'} %>
	</p>
	<hr />
<% end %>