<h1><%= @article.title %></h1>
<p><%= @article.text %></p>


<h2><%= t('comments.comment_title') %></h2>
<% @article.comments.each do |comment| %>
	<p>
	<i><%= comment.author %> сказал:</i><br />
	<%= comment.body %><br />
	<span style="font-size: 75%; color: #999"><%= comment.created_at %></span>
	</p>
	<hr />
<% end %>

<h2><%= t('comments.comment_create') %></h2>
<p>
<%= form_for([@article, @article.comments.build]) do |f| %>

	<p>
		<%= f.label :body %><br />
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.submit t('comments.comment_create') %>
<% end %>
</p>